<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginCustomer</servlet-name>
        <servlet-class>controller.loginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerCustomer</servlet-name>
        <servlet-class>controller.registerCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdmin</servlet-name>
        <servlet-class>controller.loginAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginCustomer</servlet-name>
        <url-pattern>/loginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerCustomer</servlet-name>
        <url-pattern>/registerCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdmin</servlet-name>
        <url-pattern>/loginAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
